html(ng-app='app')
  head
    link(href='/public/bootstrap.css', rel='stylesheet')
    script(src='/bower_components/angular/angular.js')
    script(src='/public/bootstrap.js')
    <!--script(src='/public/userService.js')-->
    script(src='/public/app.js')

    body(ng-controller='userController')
      .container
        layout-page
        .col-lg-12
          .col-lg-12
            a(href='/create/user').btn.btn-primary Create New User
          div(ng-repeat='user in users')
            .col-lg-4(style='margin-top:30px')
              .panel.panel-default
                .panel-heading.clearfix
                  h3.panel-title {{user.firstName}} {{user.lastName}}
                  .pull-right.btn.btn-group
                    a(href='/user/{{user.id}}').btn.btn-primary
                        i.fa.fa-pencil Edit
                    a(href='/delete/user/{{user.id}}').btn.btn-danger.delete Delete
                .list-group
                  .list-group-item
                    p.list-group-item-text.col-lg-12 CreatedAt
                      h4.list-group-item-heading.col-lg-12 {{user.createdAt}}
                  .list-group-item    
                    p.list-group-item This is user Information showing using node and expressJS with mssql (ORM) i.e sequelizeJS)